<div class="row"> 
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
     <div class="col-lg-11">
        
        <ul>
            <li>
                 <h1>Trabajo 1</h1> 
                 <h3> (años)</h3></li>
             <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias blanditiis similique aspernatur, quaerat velit ipsa enim autem repellendus, magni,
             corrupti eius nostrum dolorum assumenda? Autem harum voluptates repudiandae doloremque.
             </p>
        </ul>
        <ul>
            <li>
                 <h1>Trabajo 2</h1> 
                 <h3> (años)</h3></li>
             <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias blanditiis similique aspernatur, quaerat velit ipsa enim autem repellendus, magni,
             corrupti eius nostrum dolorum assumenda? Autem harum voluptates repudiandae doloremque.
             </p>
        </ul>
        <ul>
            <li>
                 <h1>Trabajo 3</h1> 
                 <h3> (años)</h3></li>
             <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias blanditiis similique aspernatur, quaerat velit ipsa enim autem repellendus, magni,
             corrupti eius nostrum dolorum assumenda? Autem harum voluptates repudiandae doloremque.
             </p>
        </ul>
    </div>
</div>

